.propertiesSection {
  padding: 1rem;
  background-color: #f9f9f9;
  font-size: 1.2rem;
}

.sectionHeader {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.slideshow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem 0;
}


.slide {
  background: white;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  scroll-snap-align: start;
  min-width: 280px;
}

.propertyImage {
  border-radius: 8px;
  overflow: hidden;
}

.image {
  border-radius: 8px;
  object-fit: cover;
}

.propertyInfo {
  margin-top: 1rem;
}

.address {
  font-size: 0.9rem;
  color: #777;
}

.details {
  margin-top: 1rem;
}

.detailItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.value {
  font-weight: bold;
  color: #333;
}
